#writePostForm {
  clear: left;
}
#postBodyInput {
  width: 1000px;
  height: 400px;
}

.writePostInput, .writePostSubmit {
  display: block;
  clear: right;
  margin: 10px 0 10px 20px;
}

.clear-right {
  clear: right;
  display: block;
}

.messages {
  margin-left: 20px;
  color: red;
}

.form-input {
  display: block;
  margin: 0 0 10px 20px;
}

.form-submit {
  display: block;
  margin: 20px 0 0 20px;
}

#login {
  margin-top: 10px;
}

#postTitle, #postDate, #postBody, #submit-button-div {
  margin: 30px 0 0 30px;
}

#editor-postTitle, #editor-postDate, #editor-postBody {
  background: white;
}

#editor-postBody, .ql-toolbar.ql-snow {
  width: 80%;
}

#editor-postBody {
  height: 300px;
}

#editor-postTitle, #editor-postDate {
  width: 20%;
}

.ql-toolbar.ql-snow {
  background-color: darkgray;
}
