#writePostForm {
  clear: left;
}
#postBodyInput {
  width: 1000px;
  height: 400px;
}

.writePostInput {
  display: block;
  clear: right;
  margin: 10px 0 10px 20px;
}

.clear-right {
  clear: right;
  display: block;
}

.messages {
  margin-left: 20px;
  color: red;
}

.form-input {
  display: block;
  margin: 0 0 10px 20px;
}

.form-submit {
  display: block;
  margin: 20px 0 0 20px;
}