body {
  text-decoration: none;
}

#app {
  width: 100%;
  height: 100%;
  /*position: fixed;
  overflow: scroll;*/
}

.parallax_top, .parallax_bottom {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.parallax_top {
  background-image: url("../images/river-stacks-muted.jpg");
  min-height: 100%;
}

.parallax_bottom {
  background-image: url("../images/train_station_wall.jpg");
  min-height: 700px;
}

#title {
  position: absolute;
  top: 47%;
  left: 0;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.display-name {
  background-color: #444;
  color: #fff;
  width: auto;
  font-size: 90px;
  padding: 10px 10px 10px 20px;
  letter-spacing: 10px;
  box-shadow: 5px 5px 5px #000;
}

#container {
  display: inline-block;
  /*position: relative;*/
  background-color: #fff;
  top: 100%;
  padding-bottom: 40px;
}

#footer {
  background-color: #fff;
  min-height: 200px;
}

#spotlight {
  background-color: rgba(255, 255, 255, 0.75);
  left: 25%;
  width: auto;
  position: absolute;

  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.spotlightItem {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px 20px 20px;

  margin: 0 20px 40px 20px;
  font-size: 14pt;
  width: 40%;
}

.spotlightItemImg {
  padding: 0;
  box-shadow: 5px 5px 5px #888;
  max-width: 100%;
}

.spotlightItemTitle {
  display: inline-block;
  color: rgb(70, 70, 70);
  font-family: 'Roboto Mono', monospace;
}

.spotlightItemTitle {
  position: relative;
}

.spotlightItemTitleDiv {
  position: relative;
}

.spotlightItemImgDiv {
  position: relative;
  top: 80px;
  margin-bottom: 100px;
}

.spotlightItemBlurbDiv {
  position: relative;
  margin-top: 10px;
}

#nav {
  position: relative;
  width: 20%;
  top: 100px;
  left: 40px;
}

.navItem {
  background-color: #444;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  float: left;
  clear: left;
  text-align: center;
  letter-spacing: 10px;
}

.navLink {
  text-decoration: none;
  color: rgb(220, 220, 220);
}

.navLink:hover {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.navText {
  font-family: 'Roboto Mono', monospace;
  vertical-align: middle;
  margin: 0;
  font-size: 18pt;
}

#timers {
  position: relative;
  bottom: 40px;
  clear: left;
}

.timer {
  margin: 5px;
}

/*
Android max-width 640
recent iPhone max-width 667
*/