{% extends "base.html" %}

{% block additional_styles %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block alerts %}
    {% for message in messages %}
        <p class="messages">{{ message }}</p>
    {% endfor %}
{% endblock %}

{% block bundle %}
    <!-- Theme included stylesheets -->
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

    <!-- Core build with no theme, formatting, non-essential modules -->
    <link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
    <script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>

    <!-- Include the Quill library -->
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock %}

{% block html_block %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <!-- Create the editor container -->
    <form action="/write/" method="POST">
        <div id="postTitle">
            <p>Title</p>
            <div id="editor-postTitle"></div>
        </div>
        <input name="postTitle" type='hidden'>
        <div id="postDate">
            <p>Date</p>
            <div id="editor-postDate"></div>
        </div>
        <input name="postDate" type='hidden'>
        <div id="postBody">
            <div id="editor-postBody"></div>
        </div>
        <input name="postBody" type='hidden'>
        <div id="submit-button-div">
            <div id="submit-button">
                <button class="btn" type="submit" onclick="stitchEditorContents()">submit</button>
            </div>
        </div>
    </form>
    <!-- Initialize Quill editor -->
    <script>
    function stitchEditorContents() {
        let postTitleInput = document.querySelector('input[name=postTitle]');
        postTitleInput.value = JSON.stringify(quillPostTitle.getContents().ops)

        let postDateInput = document.querySelector('input[name=postDate]');
        postDateInput.value = JSON.stringify(quillPostDate.getContents().ops)

        let postBodyInput = document.querySelector('input[name=postBody]');
        postBodyInput.value = JSON.stringify(quillPostBody.getContents().ops)
    }
    var quillPostTitle = new Quill('#editor-postTitle', {
        theme: 'bubble'
    });
    var quillPostDate = new Quill('#editor-postDate', {
        theme: 'bubble'
    });
    var quillPostBody = new Quill('#editor-postBody', {
        theme: 'snow'
    });
    </script>
{% endblock %}
