{% extends "base.html" %}

{% block additional_styles %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block alerts %}
    {% for message in messages %}
        <p class="messages">{{ message }}</p>
    {% endfor %}
{% endblock %}

{% block bundle %}
    <script src="/dist/admin.bundle.js" type="text/javascript"></script>
    <script type="text/javascript">
      document.getElementById("postBodyInput").onkeypress = function(e) {
        var key = e.charCode || e.keyCode || 0;     
        if (key == 13) {
          e.preventDefault();
          var s = $(this).val();
          $(this).val(s+"\n");
        }
      }
    </script>
{% endblock %}